<!-- @format -->

<!-- prettier ignore -->
{% extends 'detail_base.html' %}

{% block title %}Credential Stuffing{% endblock %}

{% block description %}
<figure class='figure'>
  <img 
    src="https://cf-assets.www.cloudflare.com/slt3lc6tev37/7063QaY9i4PTXesgUmpoYk/cd8e741be8731bca5494bc14d03a134c/credential-stuffing.png"
    alt="credential-staffing-desc"
    class="figure-img img-fluid">
    <figcaption class="figure-caption">
      Source: 
      <a href="https://www.cloudflare.com/learning/bots/what-is-credential-stuffing/">
        What is Credential Stuffing - Cloudflare
      </a>
    </figcaption>
</figure>
<p>
  Credential stuffing is one type of most common cyberattacks in the world. 
  Attackers use breached credentials to log into different websites and 
  see if they can get access to the user accounts. 
</p>
<p>
  The reason why credential stuffing works is that many people re-uses same username or email
  and passwords for different websites. And In case the credentials are stolen through a data breach
  or a phishing attack. The attacker may have a chace to get access to the victim's account on a different website
  by the same account. Credential stuffing is one of the brute force attacks, which has 0.1% of success rate.
  You may think the chance is not that high, But remember, there are probably billions of people 
  uses internet these days. By doing some simple math, millions of people could be attacked.
</p>
<p>
  For instance, if a user uses the same login credentials for Facebook and PayPal
  and the login credentials for Facebook was leaked. Then the attacker and get access to his/her paypal
  account, which will affect the safety of the user's assets.
</p>
<h5>References</h5>
<ul>
  <li>
    <a href="https://www.cloudflare.com/learning/bots/what-is-credential-stuffing/">
      What is Credential Stuffing - Cloudflare
    </a>
  </li>
  <li>
    <a href="https://owasp.org/www-community/attacks/Credential_stuffing">
      Credential Stuffing Software Attack | OWASP Foundation
    </a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/Credential_stuffing">
      Credential Stuffing - Wikipedia
    </a>
  </li>
<ul>
{% endblock %}

{% block general_tips %}
<li>Do not re-use usernames and passwords</li>
<li>Enable multi-factor authentication if available</li>
{% endblock %}

{% block incidents %}
  <li>
    <a href="https://www.engadget.com/2011-06-02-sony-pictures-hacked-by-lulz-security-1-000-000-passwords-claim.html">
      Sony 2011 Breach
    </a>
  </li>
  <li>
    <a href="https://www.troyhunt.com/what-do-sony-and-yahoo-have-in-common/">
      Yahoo 2012 Breach
    </a>
  </li>
{% endblock %}



