{% extends 'detail_base.html' %} 
{% block title %}
CSRF Attack
{% endblock %}

{% block description %}
<figure class="figure">
  <img
    src="https://miro.medium.com/max/1400/1*FAzJbMwgCV0cyZKn382lcw.jpeg"
    alt="csrf-attack"
    class="figure-img img-fluid"
  >
  <figcaption class="figure-caption">
    Source:
    <a href="https://medium.com/@anukajinadasa7/cross-site-request-forgery-csrf-ebbb63b0fe95">
      Cross-Site Request Forgery (CSRF) | by Anuka Jinadasa | Medium
    </a>
  </figure-caption>
</figure>
<p>
  Cross Site Request Forgery attack is an attack that tricks the victim to send a request to a website, 
  which is under the attacker's control. 
  The attacker will send requests to other web applications to perform undesired
  operations (such as change password, make payments) on the users' behalf.
</p>

<span><strong>How does CSRF attack works?</strong><span<<br>

<p>
  Once the victim sends a request to the attacker's website, the attacker is able to make a request 
  that inherits your sensitive information such as session token inside cookie to the target website. 
  There is no way forthe target website to tell if the request is genuine or not. 
  So the website will just treat it as usual.
</p>

<p>
  Think of CSRF attack as an identity theft, where the attacker steals your digital credential through
  requests to a websites under their control. Unlike phishing, which requires you to enter your personal
  information, CSRF attack will just forward these information into next request even without knowing 
  their details of the sensitive information.
</p>

<span><strong>Browser Cookies Policy</strong><span<<br>
<p>
All modern browsers supports the <code>SameSite</code> for <code>Set-Cookie</code> in request header
This field tells web browsers what other websites can access that specific piece of the cookies.
It has 3 values:
<ul>
  <li>
    <code>Strict</code>: Will not allow any other sites to pass the cookie
  </li>
  <li>
    <code>Lax</code>: Only allows to pass the cookie if the user naviages back to 
    the original site
  </li>
  <li>
    <code>None</code>: Cookie can be sent with any request. Not allowed unless using https 
    (i.e., Having <code>Secure</code> set).
  </li> 
</ul>
</p>

<h5>References</h5>
<ul>
  <li>
    <a href="https://owasp.org/www-community/attacks/csrf">
      Cross Site Request Forgery (CSRF) | OWASP
    </a>
  </li>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie">
      Set-Cookie - HTTP | MDN
    </a>
  </li>
</ul>
{% endblock %}

{% block  incidents %}
<li>
  <a href="https://www.scmagazine.com/news/security-news/netflix-fixes-cross-site-request-forgery-hole">
    Netflix CSRF Hole 2006
  </a>
</li>
<li>
  <a href="https://www.defcon.org/images/defcon-17/dc-17-presentations/defcon-17-bailey-mcree-csrf.pdf">
    McAfee CSRF Vulnerability 2009
  </a>
</li>

{% endblock %}

{% block dev_tips %}
<li>
  Use <a href="https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#token-based-mitigation">
    CSRF token
  </a>
</li>
<li>Check the <code>referrer</code> field in request header for each request</li>
{% endblock %}



{% block demo %}
<span><strong>Step 1. Log in</strong></span><br>
<p>
  Login with username <code>amdin</code> and password <code>admin</code>.
  Once logged in, you should be able to see the database
</p>
{% if not request.cookies.get("insecure_website_token") %}
<form method="POST" class="row g-3">
  <input class="visually-hidden" name="action" value="login"> 
  <div class="col-auto">
    <label for="username" class="visually-hidden">Email</label>
    <input
      readonly
      type="text" 
      class="form-control" 
      id="username" 
      name="username" 
      placeholder="admin"
      value="admin"
    >
  </div>
  <div class="col-auto">
    <label for="password" class="visually-hidden">Email</label>
    <input
      readonly
      type="text" 
      class="form-control" 
      id="password" 
      name="password" 
      placeholder="admin" 
      value="admin"
    >
  </div>
  <div class="col-auto">
    <button type=submit class="btn btn-primary mb-3">Login</button>
  </div>
</form>
{% else %}
You already logged in
{% endif %}

<div>
  <span><strong>Step 2. Visit the attackers' website</strong></span><br>
  <p> Now pretend you are the victim, visit the <a href="{{csrf_attacker_url}}">malicious webite</a></p>
</div> 

<div>
  <h5>Database View</h5>
  {% if not request.cookies.get('insecure_website_token') %}
  You cannot view database until logged in.
  {% else %}
  <p>Once you visited the page, revisit this page. See how the database view changes</p>
  <div class="alert alert-warning" role="alert">
    This is only for demo purpose. Please do not save plaintexts of usercredentials in the database
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
      </tr> 
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
