{% extends 'detail_base.html' %}
{% block title %}Cross-Site Scripting{% endblock %}

{% block description %}
<figure class="figure">
  <img
    src="{{url_for('static', filename='img/xss-attack.png')}}"
    alt="XSS attack summary"
    class="figure-img img-fluid"
  >
  <figcaption>
    Source: 
    <a href="https://www.techolac.com/internet/the-cross-site-scripting-virus-xss/">
      The Cross-Site Virus (XSS)
    </a>
  </figcaption>
</figure>
<p>
  Cross-Site Scripting (XSS) attack is another type of injection attack, which is very common
  in web applications. In XSS attack, attackers inject a piece of malious code to a website. And
  the websites will distribute the malisious scripts to end-users. Finally, the browsers will execute
  the script. 
</p>
<p>
  As the browser trusts the website, the browser will also trust the script. The script is able to
  access any data stored in the browsers. Such as cookies, session tokens and other data stored by 
  the browser locally.
</p>
<p>
  There are three types of XSS attackes. Which are DOM-based, reflected, and stored.
</p>

<strong>Reflected XSS</strong><br>
<p> 
  Reflected XSS happens when the website just "echoing" the request without any processing. 
  For instance, a website shows the search query from user without converting it to normal string,
  If the search query contains html valid html code. The browser will execute it to get the proper
  content. If that query contains malicious javascript code. The browser will execute it as well.
</p>

<strong>Stored XSS</strong><br>
<p>
  Stored XSS is uses the same idea. But Instead of echoing that. The server will store the malicious
  content in the database. So each time that content is requested. The server will just pull out
  the malicious code and execute it.
</p>

<strong>DOM Based XSS</strong><br>
<p>
  DOM based XSS is very similar to reflected XSS as they both echo the content from the request.
  But the key difference is that the request of DOM based XSS might not be passed to the server. 
  So it is harder to detect. It is generally caused by vulnerable javascript in the DOM.
</p>

<h5>Reference</h5>
<ul>
  <li>
    <a href="https://owasp.org/www-community/attacks/xss/">
       Cross Site Scripting - OWASP
    </a>
  </li>
  <li>
    <a href="https://owasp.org/www-community/attacks/DOM_Based_XSS">
       DOM based XSS - OWASP
    </a>
  </li>
  <li>
    <a href="https://security.stackexchange.com/questions/51994/what-is-the-difference-between-ordinary-xss-and-dom-xss-vulnerabilities">
       Differences Betwen ordinary XSS and DOM based XSS - Security XSS
    </a>
  </li>
</ul>
{% endblock %}

{% block incidents %}
<li>
  <a href="https://www.bing.com/search?q=xss+ebay+2016&cvid=e808e7d732f4476d80f8a71c77388116&aqs=edge..69i57.4667j0j4&FORM=ANAB01&PC=U531">
    Ebay XSS vulnerability (2016)
  </a>
</li>
<li>
  <a  href="https://www.theregister.com/2019/01/16/fortnite_security_vuln_token_theft/">
    Fortnite XSS vulnerability (2019)
  </a>
</li>
{% endblock %}

{% block demo %}
<h5>Insecure Search</h5>
<form method="get">
  <div class="mb-3" style="display: flex;">
    <input type="text" name="query" class="form-control">
    <button type="submit" class="btn btn-primary" style="margin: 0px 8px">
      Search
    </button> 
  </div>
  {%if query|length > 0%}
  <p>You just searched for: {{ query|safe }}</p>
  <p>Unfortunately, we found no result :(</p>
  {% endif %}
</form>

<h5>Insecure Posts</h5>
{% if posts|length > 0 %}
<ul>
  {% for post in posts %}
  <li>{{post|safe}}</li>
  {% endfor %}
</ul>

<button class='btn btn-danger' onclick="clearTable()">CLEAR</button>

{% endif %}
<form method="POST">
  <div class="mb-3" >
    <label for="user-input" class="form-label">Text Something</label>
    <textarea
      class="form-control" 
      id="user-input" 
      name="post" ></textarea>
  </div>
  <div class="mb-3"> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
function clearTable() {
  const url = window.location.protocol + "//" + window.location.host + "/xss-attack";
  fetch(url, {
    method: "DELETE"
  }).then(() =>location.reload())
}
</script>
{% endblock %}



